<!--
  Generated template for the EventDetailsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar primary>

  <ion-title>Event's Details</ion-title>
 
</ion-navbar>
 </ion-header>
 <style>

   .bottom0{
     bottom: 0 !important;
   }
 </style>

<!--*ngFor="let detail of eventDetailArray"-->
<ion-content *ngFor="let detail of allEventsArray">
  

  
  <ion-list class="eventlist even-detail-list">

	  <ion-item style="position:relative;">
    <div class="coverphoto">
      <!--{{ detail.photo ||'img/evenbanner.jpg'}}-->
	     <img src="{{ detail.photo ||' ./img/stub_events.png'}}" style="border-radius: 12px;">
       <!--<div class="img-layer"></div>-->
       </div>
	  <div class="alignmiddle">   
     <div class="head-center">
       <!--{{detail.name}}-->
       <h2>{{detail.name}}</h2>
     </div>
     <br>
     
     <div class="Fireworks">
       <!--{{detail.start_date}}-->
       <div *ngIf="detail.user">
     <h3>{{detail.user.name}}</h3>
</div>
      <div *ngIf="detail.company">
         <h3>{{detail.company.name}}</h3>
        </div>
          <div class="cityToShow">
       <!--{{detail.location}}-->
       <p><i class="fa fa-map-marker markerblack" aria-hidden="true"></i>{{detail.location}}</p>
     </div>
     <br/>
     <p>{{detail.start_date}}</p>
     </div>
   
	    <br>
      <!--{{detail.description}}-->
      <div class="event-details">
      {{detail.description}}
      </div>
    </div>
    </ion-item>
	</ion-list>
  
  
</ion-content>
<ion-footer class="bottom0">  
   <ion-toolbar position="bottom">
     <ion-buttons style="float: left;">
         <button royal>
      Yes
   
    </button>
  </ion-buttons>
  <ion-buttons>
    <button royal style="margin-left: 31px;"> 
      No
   
    </button>
  </ion-buttons>
    <ion-buttons end>
  <button royal>
      May Be
    
    </button>
  </ion-buttons>
</ion-toolbar>
</ion-footer>


  <!--<ion-tab [root]="tab5Root" tabTitle="More" tabIcon="md-add"></ion-tab>-->