<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
 <ion-header>
<ion-navbar primary>

  <ion-title><span class="ionTitle">Registration</span></ion-title>

</ion-navbar>
 </ion-header>



<ion-content padding class="signup signupcreen ecnob-fields">
   <style type="text/css">
   .signupform{
	padding: 0px 8px;
padding-top: 14px
}

.ecnob-fields .fieldgroup{
	margin-bottom: 15px;
}

.ecnob-fields input[type="text"],
.ecnob-fields input[type="tel"],
.ecnob-fields input[type="num"],
.ecnob-fields input[type="url"],
.ecnob-fields input[type="email"],
.ecnob-fields input[type="password"],
.ecnob-fields select{
    width: 100%;
    min-height: 40px;
    border: 1px solid #dbdfe2;
    padding: 8px 10px;
    border-radius: 2px;
}
.ecnob-fields select{
	color:#999999;
  background: none;
}

.ecnob-fields textarea{
    width: 100%;
    border: 1px solid #dbdfe2;
    padding: 8px 10px;
    border-radius: 2px;
}
.ion-segment.tab-ion-segment {
 background: white;
 background-image: auto !important;
}

.segment-button.activated, .segment-button.segment-activated{
  color: #2f74f5 !important;
  background: white !important;
  background-image: white !important;
  border-bottom: 1px solid #0058be;
}
ion-segment.tab-ion-segment .tab-segment.segment-button {
    /*border-bottom: none;*/
    /*border-bottom-width: 0px;*/
    /*overflow: visible;
    text-transform: Capitalize;
    font-size: 17px;*/
    background: white;
    color: #9bbffb;
}
 ion-segment.tab-ion-segment .tab-segment.segment-button {
 overflow: hidden !important;     
    }
.tabs-image{
  margin-bottom: 3px;
}
.toolbar-background{
    background: #0E0EFF;
}
</style>
<form  #signupForm="ngForm">
<div class="no-padding">
  <ion-segment class="tab-ion-segment" [(ngModel)]="usercreds.type" name="type">
    <ion-segment-button (click)="myUserSegmentClick()" id="userSeg" class="tab-segment segment-activated" value="0" itemtype="radio"> 
      <!--<input type="radio">-->
      <div *ngIf="usercreds.type == 0">
      <img src="./img/user_active.png" height="24px" class="tabs-image" alt="" >
      <div style="margin-top: -38px;font-size: 12px;">User</div>
       
      </div>
      <div *ngIf="usercreds.type==1">
        <img src="./img/user_inactive.png" height="24px" class="tabs-image" alt="">
        <div style="margin-top: -38px;font-size: 12px;">User</div>
         
      </div>
      
         
      </ion-segment-button>
    <ion-segment-button (click)="myCompanyClick()" id="companyseg" class="tab-segment" value="1" itemtype="radio">
    <!--<input type="radio">-->
    <div *ngIf="usercreds.type==1">
    <img src="./img/company_active.png" height="24px" class="tabs-image" alt="">
    <div style="margin-top: -38px;font-size: 12px;">Company</div>
    </div>
    <div *ngIf="usercreds.type==0">
    <img src="./img/company_inactive.png" height="24px" class="tabs-image" alt="">
    <div style="margin-top: -38px;font-size: 12px;">Company</div>
    </div>
        
    </ion-segment-button>
  </ion-segment>
</div>
    <div class="signupform">

   <ion-list class="padding">


    <div class="fullwidthrow">
     <div class="fieldgroup">   
       <!--\S+@\S+\.\S+-->
       <!--^[A-Z0-9][A-Z0-9._%+-]{0,63}@
(?:[A-Z0-9](?:[A-Z0-9-]{0,62}[A-Z0-9])?\.){1,8}[A-Z]{2,63}$-->
    <input type="email" name="email" required placeholder="Email Address" [(ngModel)]="usercreds.email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9]{1,2})?" #email="ngModel">
     <div [hidden]="email.valid || email.pristine" style="color:red;">
         <small> Email is required and Format should be According to <i>"example@example.com"</i></small>
        </div>
        <div [hidden]="!emailExist" style="color:red;">
         <small> Email Already Exist</small>
        </div>
     </div>
    </div>

        <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="text" name="userName" required placeholder="Your Name" minlength="5" [(ngModel)]="usercreds.name" #name="ngModel" >
     <div [hidden]="name.valid || name.pristine" style="color:red;">
         <small> User name is required and must be 5 characters long</small>
        </div>
     </div>
    </div>

        <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="password" name="password" validateEqual="confirmPassword" minlength="6" reverse="true" required placeholder="Password" #password="ngModel" [(ngModel)]="usercreds.password">
     <div [hidden]="password.valid || password.pristine" style="color:red;">
         <small> Invalid Password & Password Must be 6 charactes long</small>
        </div>
     </div>
    </div>

        <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="password" name="confirmPassword" required placeholder="Confirm Password" validateEqual="password" reverse="false" #confirmPassword="ngModel" [(ngModel)]="usercreds.confirmPassword">
     <div [hidden]="confirmPassword.valid || confirmPassword.pristine" style="color:red;">
         <small>Password mismatch</small>
        </div>
     </div>
    </div>

    <!--<radio-group [ngModel]="usercreds.type" *ngIf="usercreds">
     <label for="radio-one">
		<input type="radio" value="0" name="quality" id="radio-one"> <span>user</span>
		</label>

		<label for="radio-two">  
		<input type="radio" value="1" name="quality" id="radio-two"> <span>Company</span>
		</label>
       </radio-group>-->
       <!--<ion-list radio-group  [(ngModel)]="usercreds.type">
   <ion-item>
       <ion-label>user</ion-label>
       <ion-radio value="0" ></ion-radio>

   </ion-item>
   <ion-item>
        <ion-label>Company</ion-label>

       <ion-radio value="1"></ion-radio>
   </ion-item>
 </ion-list>-->

        <div class="fullwidthrow">
     <div class="fieldgroup">
      <select>
        <option>Select Category</option>
      	<option>cat 1</option>
      	<option>cat 2</option>
      	<option>cat 3</option>
      </select>
     </div>
    </div>

        <div class="fullwidthrow">
     <div class="fieldgroup">
     <select>
        <option>Select Sub-Category</option>
      	<option>cat 1</option>
      	<option>cat 2</option>
      	<option>cat 3</option>
      </select>
     </div>
    </div>

</ion-list>

 <!--<ion-list>
   <div style="padding: 0px 15px;">
  <button class="button button-block button-positive" style="font-size: 20px; height: 50px;" type="submit" [disabled]="!signupForm.form.valid">
  Sign Up
</button>-->
<div class="fieldgroup" style="margin-bottom:20px;margin-top: 14%;;">
  <p class="text-center" style="text-align:center; color: #3d3d3d;"> Already have an account? <a [navPush]="signinPage">Sign In</a></p>
  </div>
 <!-- <a class="button button-block button-positive" href="#/app/signin" style="font-size: 20px; height: 50px;">
  Sign in
</a>-->
  <!--<button class="button button-block button-positive" style="font-size: 20px; height: 50px;"  [navPush]="signinPage">
  Sign in
</button>-->
<!--</div>
 </ion-list>-->

    </div>
<!--<button class="button lastbutton" (click)="signup()" [disabled]="!signupForm.form.valid">
  Next
</button>-->

<!--<button full class="lastbutton" (click)="signup()" [disabled]="!signupForm.form.valid">Next</button>-->

</form>

</ion-content>
<ion-footer>
   <ion-toolbar>
     <ion-buttons>
         <button  royal (click)="signup()" [disabled]="!signupForm.form.valid">
            <span style="text-transform: capitalize !important;">Next</span> 
        </button>
  </ion-buttons>
</ion-toolbar>
</ion-footer>