
// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// Ionic iOS Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import 'ionic.ios';


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App iOS Only Sass
// --------------------------------------------------
// CSS that should only apply to the iOS app
ion-segment.tab-ion-segment .tab-segment.segment-button {
    border-bottom: 1px solid blue;
    border-bottom-width: 1px;
    overflow: visible;
    text-transform: capitalize;
    font-size: 17px;
}
#container{
    height: 50%;
}
.lastbutton{
    position: absolute;
    right: 0;
    // bottom: 0;
    left: 0;
    padding: 2rem;
    bottom: -4px !important;
    /* background-color: #efefef; */
    text-align: center;
}
ion-content-section{
    margin-top: -10px !important;
}


.toolbar .segment-button{
 max-width: 45%;
height: 2.6rem;
font-size: 1.2rem;
line-height: 2.5rem;
border-bottom: 1px solid white;
}
.button-small{
    padding: 0 0.9px !important;
}