// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/page1/page1";
@import "../pages/page2/page2";
@import "../pages/page3/page3";
@import "../pages/signup/signup";
@import "../pages/signin/signin";
@import "../pages/all-events/all-events";
@import "../pages/event-details/event-details";
@import "../pages/all-event-form/all-event-form";
@import "../pages/create-event/create-event";
@import "../pages/create-list-people-invite/create-list-people-invite";
@import "../pages/broadcast-event/broadcast-event";
@import "../pages/subscription/subscription";
@import "../pages/all-companies/all-companies";
@import "../pages/search-company/search-company";
@import "../pages/subscribe-company/subscribe-company";
@import "../pages/company-details/company-details";
@import "../pages/deals/deals";
@import "../pages/deals-detail/deals-detail";
@import "../pages/create-deal/create-deal";
@import "../pages/location/location";

  .toolbar-content{
    margin-left: 0 !important;
  }
  .toolbar {
padding: 0px;
min-height: 12%;
}

tabbar .tab-button {
    color: white !important;
    background: #3191f6;
    }

scroll-content{
      overflow-x: hidden !important;
      overflow-y: auto !important;
    }


   ion-title {
  position: relative;
  top: 0;
  left: 0;
  padding:  0 14% 0 0;     //0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}