.create-deal {

}
.create-deal .fieldgroup {
    position: relative;
    float: left;
    width: 100%;
}
.createdeal-wrap{
	padding:15px 15px;
}
.radio-slides{
	float:left;
	width:100%;
}
label.radiolabel {
display: inline-block;
    cursor: pointer;
    line-height: 2.5;
    font-size: 16px;
    color: #999999;
    padding-right: 15px;
}

[type="radio"] + span:before {
content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 1px #929292;
    margin-right: 0.75em;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
background: #999999;
    box-shadow: 0 0 0 1px #ccc;
    padding: 0px;
}