<!--
  Generated template for the CreateEventPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar style="padding: 0px 0px; text-align: Center;">
<ion-toolbar primary>
  <ion-title>CREATE EVENT</ion-title>
</ion-toolbar>
</ion-navbar>

<ion-content padding class="create-event ecnob-fields">
  <ion-list class="padding">
<div class="fullwidthrow">
     <div class="fieldgroup">
     
       	<h3>Event Type</h3>
<radio-group [(ngModel)]="parameters.type">


       	<label class="radiolabel" for="radio-one">
		<input type="radio" value="0" name="quality" id="radio-one"> <span>By list</span>
		</label>

		<label class="radiolabel" for="radio-two">  
		<input type="radio" value="1" name="quality" id="radio-two"> <span>By Genral invitation</span>
		</label>
       </radio-group>
                     <span style="color:red;" [hidden]="!typeField">This field Required</span>
     </div>

     </div>

        <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="text" name="" [(ngModel)]="parameters.name" placeholder="Event Name">
               <span style="color:red;" *ngIf="nameField == true">This field Required</span>
 
     </div>
    </div>

     <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="text" name="" placeholder="Event Location" [(ngModel)]="parameters.location">
          <span style="color:red;" *ngIf="locationField == true">This field Required</span>
     </div>
    </div>


<ion-grid style="padding-left: 0px;padding-right: 0px;">
  <ion-row>
    <ion-col width-50 style="padding-left: 0px; padding-top:0px;  padding-bottom:0px;">
     <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="date" name="" placeholder="20/5/2016" [(ngModel)]="parameters.start_date">
          <span style="color:red;" *ngIf="startDate == true">This field Required</span>
      <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
     </div>
    </div>
    </ion-col>
    <ion-col width-50 style="padding-right: 0px; padding-top:0px;  padding-bottom:0px;">
     <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="date" name="" placeholder="20/5/2016" [(ngModel)]="parameters.end_date">
          <span style="color:red;" *ngIf="endDateField == true">This field Required</span>
      <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
     </div>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>

     <div class="fullwidthrow">
     <div class="fieldgroup">
  
     <button class="button button-block button-positive"  (click)="presentActionSheet()"> Upload Picture </button>
     <ion-icon ios="ios-attach" md="md-attach"></ion-icon>
     </div>
    </div>


         <div class="fullwidthrow">
     <div class="fieldgroup">
     <textarea name="" placeholder="Enter Events Details" [(ngModel)]="parameters.description" rows="5" cols="50" ></textarea>
     </div>
    </div>


</ion-list>

 <ion-list>
   <div style="padding: 0px 15px;">   
     <!--[navPush]="createListPeopleToInvite"-->
  <button class="button button-block button-positive" style="font-size: 20px; height: 50px;" (click)="submit(parameters)">
  Submit
</button>
</div>
 </ion-list>
</ion-content>
