<!--
  Generated template for the CreateEventPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>

  .create-event label.radiolabel{
    display: inline !important;
  }
  ion-title{
    padding: 0;
  }
input[type="date"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="time"], 
input[type="week"] {
  -webkit-appearance: none !important;
  }
  ion-card{
    max-height: 200px !important;
    text-align: center !important;
  }
  img{
     max-height: 200px;;
  }
</style>


 <ion-navbar primary hideBackButton *navbar align-title="center">
   <ion-title>
     Create Events
    </ion-title>
   </ion-navbar>

<ion-content padding class="create-event ecnob-fields">
  <form  #eventsForm="ngForm">
  <ion-list class="padding">
<div class="fullwidthrow">
     <div class="fieldgroup">
     
       	<p style="font-size: 17px; font-weight: 700;">Event Type<p>
<div radio-group [(ngModel)]="params.type" name="radioGroup">

<ion-item>
       	<!--<label class="radiolabel" for="radio-one">-->
              <ion-label>By list</ion-label>
    <ion-radio value="0" ></ion-radio>
</ion-item>
		<!--<input type="radio" value="0" name="type" id="radio-one" checked> <span>By list</span>-->
		<!--</label>-->
    <ion-item>
        <ion-label>By General Invitaion</ion-label>
    <ion-radio value="1"></ion-radio>
    </ion-item>
		<!--<label class="radiolabel" for="radio-two">  
		<input type="radio" value="1" name="type" id="radio-two"> <span>By Genral invitation</span>
		</label>-->
       </div>
                     <!--<span style="color:red;" [hidden]="!typeField">This field Required</span>-->
     </div>

     </div>

        <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="text" required name="Event name" [(ngModel)]="params.name" placeholder="Event Name"  #name="ngModel">
               <!--<span style="color:red;" *ngIf="nameField == true">This field Required</span>-->
  <div [hidden]="name.valid || name.pristine" style="color:red">
         <small>*Required</small>
     </div>
     </div>
    </div>

     <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="text"  id="locationINput" name="myEventlocation" placeholder="Event Location" required>
          <!--<span style="color:red;" *ngIf="locationField == true">This field Required</span>-->
      <!--<div [hidden]="EventLocation.valid || EventLocation.pristine" style="color:red">
         <small>*Required</small>
     </div>-->
     </div>
    </div>


<ion-grid style="padding-left: 0px;padding-right: 0px;">
  <ion-row>
    <ion-col width-50 style="padding-left: 0px; padding-top:0px;  padding-bottom:0px;">
     <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="date" name="start_date" placeholder="20/5/2016"  required [(ngModel)]="params.start_date" #start_date="ngModel">
          <!--<span style="color:red;" *ngIf="startDate == true">This field Required</span>-->
       <div [hidden]="start_date.valid || start_date.pristine" style="color:red">
         <small>*Required</small>
     </div>
      <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
     </div>
    </div>
    </ion-col>
    <ion-col width-50 style="padding-right: 0px; padding-top:0px;  padding-bottom:0px;">
     <div class="fullwidthrow">
     <div class="fieldgroup">
     <input type="date" name="end_date" placeholder="20/5/2016" required [(ngModel)]="params.end_date" #end_date="ngModel">
          <!--<span style="color:red;" *ngIf="endDateField == true">This field Required</span>-->
  <div [hidden]="end_date.valid || end_date.pristine" style="color:red">
         <small>*Required</small>
     </div>
       <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
     </div>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>

     <div class="fullwidthrow">
     <div class="fieldgroup">
       <ion-card>
  <img src="{{ fileUrl || './img/stub_events.png'}}" required (click)="presentActionSheet()"/>

</ion-card>
 <!--<div [hidden]="photo.valid || photo.pristine" style="color:red">
         <small>*Required</small>
     </div>-->
      <!--<img src="./img/subscription-banner.jpg" alt="myImage">-->

      
     <!--<input type="text" readonly value="{{fileUrl || 'Event Image'}}" (click)="presentActionSheet()"> 
     <ion-icon ios="ios-attach" md="md-attach"></ion-icon>-->
     </div>
    </div>


         <div class="fullwidthrow">
     <div class="fieldgroup">
     <textarea name="description" placeholder="Enter Events Details" [(ngModel)]="params.description" rows="5" cols="50" ></textarea>
     </div>
    </div>


</ion-list>
  </form>
 <ion-list>
   <div style="padding: 0px 15px;">   
     <!--[navPush]="createListPeopleToInvite"-->
  <button class="button button-block button-positive" [disabled]="!eventsForm.form.valid" style="font-size: 20px; height: 50px;" (click)="submit(params)">
  Next
</button>
</div>
 </ion-list>
</ion-content>
