.scroll {
    height: 100%;
}

 
// #map_canvas {
//     width: 100%;
//     height: 100%;
// }
#map_canvas {
  height: 100%;
  width: 100%;
  position: absolute; 
  top: 0; 
  bottom: -200px; 
  left: 0; 
  right: 0; 
  z-index: 1;

}

#anotherContainer{
      background: rgba(255,255,255,0.70);
    border-radius: 10px;
    // z-index: 100;
    position: absolute;
  top: 53%;
    margin-left: 2%;
    // border: 1px solid #0E0EFF;
    width: 95%;
    background-size: cover;
    opacity: 3.8;
    // height: 46%;
    z-index: 9999;
 -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  
}
#container {

    background: rgba(255,255,255,0.70);
    border-radius: 10px;
    // z-index: 100;
    position: absolute;
   top: 57%;
    margin-left: 2%;
    // border: 1px solid #0E0EFF;
    width: 95%;
    background-size: cover;
    opacity: 1.8;
    // height: 46%;
    z-index: 9999;
  
  
    // background-color: white;
}
// .blur1{
//    -webkit-filter: blur(2px);
//   -moz-filter: blur(2px);
//   -o-filter: blur(2px);
//   -ms-filter: blur(2px);
//   filter: blur(2px);
// }
.container-para{
  font-size: smaller;
    padding: 22px;
    color: black;
    padding-top: 2px;

}
.toolbar-background{
    background: rgb(7, 68, 189);
}

.location-input{
  background: rgba(255,255,255,0.70);
    border: 1px solid #d1d1d1;
    width: 88%;
    height: 39px;
    margin-left: 7%;
 
    margin-top: -8px;
    text-overflow: ellipsis;
   
  }

::-webkit-input-placeholder { /* WebKit browsers */
  line-height: 1.5em;
  padding-left:  2px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  line-height: 1.5em;
  padding-left:  2px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  line-height: 1.5em;
  padding-left:  2px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  line-height: 1.5em;
  padding-left:  2px;
}
input[type=text] {
     padding-left: 18px;
     
}
.mile-radius{
  margin-left: 8%;
    margin-top: 2%;
}

.range-has-pin {
    padding-top: 0px;
}

@media screen and (max-width: 765px){
 
}

ion-range {
  padding-top: 8px !important;
padding-left: 72px;
padding-right: 72px;
padding-bottom: 3px;

}
.toolbar-title {
    color: #fff;
    text-align: center;
}
.locationbutton{
  font-size: 18px !important;
    height: 51px !important;
    width: 100% !important;
    /* margin-top: 68px !important; */
    margin-left: 3px !important;
    position: fixed !important;
    bottom: -6px !important;

}