.signin {

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../../fonts/opensans-regular.woff2') format('woff2'),
         url('../../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'open_sansregular';
}
.toolbar-background {
    border-color: none;
    background: #f8f8f8;
    background: none;
    color: #fff;
}
.bar-button-default {
    color: #ffffff;
    background-color: transparent;
}
.toolbar[primary] .toolbar-background {
    background: #387ef5;
    background-image: -moz-linear-gradient(left, #2f74f5 7%, #33c1f6 67%);
    background-image: -webkit-linear-gradient(left, #2f74f5 7%, #33c1f6 67%);
    background-image: -0-linear-gradient(left, #2f74f5 7%, #33c1f6 67%);
    background-image: -linear-gradient(left, #2f74f5 7%, #33c1f6 67%);
}
.button.button-positive{
    background-image: -moz-linear-gradient(left, #2f74f5 7%, #33c1f6 67%);
    background-image: -webkit-linear-gradient(left, #2f74f5 7%, #33c1f6 67%);
    background-image: -0-linear-gradient(left, #2f74f5 7%, #33c1f6 67%);
    background-image: -linear-gradient(left, #2f74f5 7%, #33c1f6 67%);
    text-transform: capitalize;
}
ion-footer{
    bottom: 0 !important;
}
.displaynone{
    display: none;
}