

<!--
  
  
  Created by Ghayyas Mubashir


-->

<style>
  .toolbar-content{
 padding-top: 31px !important;
}
.toolbar {
    /*padding: 20px!important;*/
    min-height: 11%;
}
ion-title{
    margin-right: 44px;
}
  
</style>





    <ion-navbar primary hideBackButton *navbar>
<!--<ion-navbar id="nav" [root]="myRoot" #content swipe-back-enabled="false">-->
    <button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
     Events
    </ion-title>
    <ion-buttons end>
    <button royal [navPush]="alleventformscreen">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
      <ion-buttons end>
    <button royal [navPush]="createEvent">
       <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-buttons>
   </ion-navbar>
   
   <!--[attr.primary]="isAndroid ? '' : null" no-border-top-->
   <!--[attr.light]="isAndroid ? '' : null"-->
   
     <ion-toolbar primary>
    <ion-segment>
      <ion-segment-button (click)="myclick('public')" class="tab-segment segment-activated" value="private">
        Public Events
      </ion-segment-button>
      <ion-segment-button class="tab-segment" (click)="myclick('private')" value="public">
        Private Events
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
   
   <!--</ion-header>-->
<ion-page>
<ion-content class="all-events">
  <div class="from-top"></div>
  <div *ngIf="definedError == true">
    <h3>Cannot Fetch Data from Server Please Contact application developer for support.</h3>
  </div>
  <div *ngIf="error == true">
    <h3>Error in Fetching new results form server. </h3>
      <ul>
        <li>
          1. Please make sure you have working internet connection.
        </li>
        <li>2.Please make sure you have valid access token.
          </li>
          <li>3. sign out and sign in again</li>
          <li>4. If every thing is working fine. Please contact application Developer for support.</li></ul>
    
  </div>
  <!--*ngFor = "let arr of event" -->
  
  
  
  
  
  
  <div [ngSwitch]="pet">
      <div  class="hometab-content with-2col" id="status"  *ngSwitchCase="'private'">

<div class="card-background-page"> 
    <ion-card (click)="newTabs()">
    <div class="imgBlack">
    <img src="img/comp-detail.jpg"/>
    </div>
   
     <div class="card-name"> <!--{{arr.name}}-->Invision Custom Solution</div>
     <div class="card-title"><!--{{arr.description}}-->Happy New Year</div>
    <div class="card-time"> <!-- {{arr.end_date}}-->1st January 2016 at 00.00 Hrs</div>
    <ion-row no-padding>
      <ion-col>
        <button clear small (click)="btn()">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          &nbsp; New York, USA
        </button>
      </ion-col>
     <ion-item>
    <!--<span item-right>Yes</span>
    <span item-right>No</span>-->
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
     Yes
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      No
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      MayBe
    </button>
  </ion-item>
    </ion-row>
  </ion-card>

</div>

<div class="card-background-page">
    <ion-card (click)="newTabs()">
    
    <img src="img/comp-detail.jpg"/>
   
     <div class="card-name"> <!--{{arr.name}}-->Invision Custom Solution</div>
     <div class="card-title"><!--{{arr.description}}-->Happy New Year</div>
    <div class="card-time"> <!-- {{arr.end_date}}-->1st January 2016 at 00.00 Hrs</div>
    <ion-row no-padding>
      <ion-col>
        <button clear small (click)="btn()">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          &nbsp; New York, USA
        </button>
      </ion-col>
     <ion-item>
    <!--<span item-right>Yes</span>
    <span item-right>No</span>-->
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
     Yes
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      No
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      MayBe
    </button>
  </ion-item>
    </ion-row>
  </ion-card>

</div>

<div class="card-background-page">
    <ion-card [navPush]="eventDetailPage">
    
    <img src="img/comp-detail.jpg"/>
   
     <div class="card-name"> <!--{{arr.name}}-->Invision Custom Solution</div>
     <div class="card-title"><!--{{arr.description}}-->Happy New Year</div>
    <div class="card-time"> <!-- {{arr.end_date}}-->1st January 2016 at 00.00 Hrs</div>
    <ion-row no-padding>
      <ion-col>
        <button clear small (click)="btn()">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          &nbsp; New York, USA
        </button>
      </ion-col>
     <ion-item>
    <!--<span item-right>Yes</span>
    <span item-right>No</span>-->
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
     Yes
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      No
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      MayBe
    </button>
  </ion-item>
    </ion-row>
  </ion-card>

</div>
</div>

  
  
  
  
  
  
  
  
  
  
  
  <!--  SWITCH  -->
  
  <div *ngSwitchCase="'public'">
  event Page
  <div class="card-background-page"> 
    <ion-card [navPush]="eventDetailPage">
    
    <img src="img/comp-detail.jpg"/>
   
     <div class="card-name"> <!--{{arr.name}}-->Invision Custom Solution</div>
     <div class="card-title"><!--{{arr.description}}-->Happy New Year</div>
    <div class="card-time"> <!-- {{arr.end_date}}-->1st January 2016 at 00.00 Hrs</div>
    <ion-row no-padding>
      <ion-col>
        <button clear small (click)="btn()">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          &nbsp; New York, USA
        </button>
      </ion-col>
     <ion-item>
    <!--<span item-right>Yes</span>
    <span item-right>No</span>-->
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
     Yes
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      No
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      MayBe
    </button>
  </ion-item>
    </ion-row>
  </ion-card>

</div>

<div class="card-background-page">
    <ion-card [navPush]="eventDetailPage">
    
    <img src="img/comp-detail.jpg"/>
   
     <div class="card-name"> <!--{{arr.name}}-->Invision Custom Solution</div>
     <div class="card-title"><!--{{arr.description}}-->Happy New Year</div>
    <div class="card-time"> <!-- {{arr.end_date}}-->1st January 2016 at 00.00 Hrs</div>
    <ion-row no-padding>
      <ion-col>
        <button clear small (click)="btn()">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          &nbsp; New York, USA
        </button>
      </ion-col>
     <ion-item>
    <!--<span item-right>Yes</span>
    <span item-right>No</span>-->
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
     Yes
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      No
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      MayBe
    </button>
  </ion-item>
    </ion-row>
  </ion-card>

</div>

<div class="card-background-page">
    <ion-card [navPush]="eventDetailPage">
    
    <img src="img/comp-detail.jpg"/>
   
     <div class="card-name"> <!--{{arr.name}}-->Invision Custom Solution</div>
     <div class="card-title"><!--{{arr.description}}-->Happy New Year</div>
    <div class="card-time"> <!-- {{arr.end_date}}-->1st January 2016 at 00.00 Hrs</div>
    <ion-row no-padding>
      <ion-col>
        <button clear small (click)="btn()">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          &nbsp; New York, USA
        </button>
      </ion-col>
     <ion-item>
    <!--<span item-right>Yes</span>
    <span item-right>No</span>-->
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
     Yes
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      No
    </button>
    <button primary clear item-right class="button-blue" (click)="btn()">
      <!--<ion-icon name="navigate"></ion-icon>-->
      MayBe
    </button>
  </ion-item>
    </ion-row>
  </ion-card>

</div>
</div>
  </div>



</ion-content>
</ion-page>