

<style type="text/css">
.hometab-content.with-2col{
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
/*display: inline-block;*/
width: 100%;
/*height: 100%;*/
float: left;
box-sizing: border-box;
padding-right: 0px;
padding: 15px;
padding-bottom:0;
text-align: center;
}
.hometab-content.with-2col .card{
  display: inline-block;;
  margin-top: 0;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(47, 47, 47, 0.3);
}
.hometab-content.with-2col .card .item-image{
    padding-left: 0;
}

.hometab-content.with-2col .card a{
    color: #3d3d3d;
    line-height: 1;
    padding-left:4px;
    font-size: 13px;
    float: left;
    text-align: left;
    justify-content: initial;
}
.hometab-content.with-2col .card a i{
font-size: 16px;
}
.hometab-content.with-2col .card a ion-icon{
    font-size: 20px;
    line-height: 1.5;

  }
.hometab-content.with-2col .card a ion-icon.active{
  color: #387ef5;
}

ion-label{
      white-space: inherit;
}
.segment-activated{
   border-bottom: 1px  solid white !important;
}

/*.segment-button.activated, .segment-button.segment-activated {
     opacity: 1;
    background: #f8f8f8 !important;
    color: #3474e1 !important;
}*/

ion-item.itemcontent.item .input-wrapper ion-label{
      white-space: inherit;
}
.toolbar-content{
 padding-top: 31px !important;
}
.toolbar {
    /*padding: 20px!important;*/
    min-height: 11%;
}
ion-title{
    margin-right: 44px;
}

</style>





<ion-header>
 <ion-navbar primary hideBackButton align-title="center">
    <button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
          Home
    </ion-title>
   </ion-navbar>


   <!--(click)="myclick('public')"-->
   <!--(click)="myclick('private')"-->
     <ion-toolbar primary>
    <ion-segment>
      <ion-segment-button  class="tab-segment segment-activated" (click)="segmentClick('deals')" value="deals">
        Featured Deals
      </ion-segment-button>
      <ion-segment-button class="tab-segment" (click)="segmentClick('events')" value="events">
        Featured Events
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-header>
<ion-content class="page1">









<div [ngSwitch]="pet">
    <div class="hometab-content with-2col" id="status"  *ngSwitchCase="'events'">
<!--<div class="hometab-content with-2col" *ngIf="segment == 'public'">-->
  <div *ngFor="let e of event " >
<div class="list card">

  <div class="item item-image">
    <img src="{{e.photo}}">
  </div>

  <a class="item item-icon-left assertive" href="#">
  <ion-icon name="star" class="active"></ion-icon>
 {{e.name}}
  </a>

</div>

  </div>
<!--<div class="list card">

  <div class="item item-image">
    <img src="img/event3.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    Wedding event
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/event1.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star" class="active"></ion-icon>
    Fun party
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/event2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    Launch event
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/event4.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star" class="active"></ion-icon>
    Birthday party
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/event1.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    Fun party
  </a>

</div>-->

</div>
<!--</div>-->




  <div  class="hometab-content with-2col" id="status"  *ngSwitchCase="'deals'">
<!--<div class="hometab-content with-2col" id="status" *ngIf="segment == 'private'">-->
<div class="list card">

  <div class="item item-image">
    <img src="img/deal1.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
  <ion-icon name="star" class="active"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal1.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star" class="active"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal1.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star" class="active"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    More than 110%...
  </a>

</div>






<div class="list card">

  <div class="item item-image">
    <img src="img/deal1.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
  <ion-icon name="star" class="active"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    More than 110%...
  </a>

</div>
<div class="list card">

  <div class="item item-image">
    <img src="img/deal2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    More than 110%...
  </a>

</div>
<div class="list card">

  <div class="item item-image">
    <img src="img/deal2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    More than 110%...
  </a>

</div>

<!--<div class="list card">

  <div class="item item-image">
    <img src="img/deal1.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star" class="active"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal1.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star" class="active"></ion-icon>
    More than 110%...
  </a>

</div>

<div class="list card">

  <div class="item item-image">
    <img src="img/deal2.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <ion-icon name="star"></ion-icon>
    More than 110%...
  </a>


</div>-->
</div>
</div>
<!--</div>-->

</ion-content>
