.image-style{
    position: absolute;
    background: rgba(46, 52, 62, 0.23);
    opacity: 0.8;
    top: 0px;
    height: 100%;
    width: 100%;
    text-align: right;
    float: right;
    right: 0;
    z-index: 3;
}