.no-margin{
	margin: 0px 0px;
}
.no-padding{
	padding: 0pc 0px;
}
.no-margintop{
	margin-top: 0px;
}
.no-marginbottom{
	margin-bottom: 0px;
}
.no-marginleft{
	margin-left: 0px;
}
.no-marginright{
	margin-right: 0px;
}
.no-paddingtop{
	padding-top: 0px;
}
.no-paddingbottom{
	padding-bottom: 0px;
}
.no-paddingleft{
	padding-left: 0px;
}
.no-paddingright{
	padding-right: 0px;
}
.font-semi-bold{
	 font-family: 'open_sanssemibold';
	 font-weight: 500;
}